*
{
    margin: 0;
    padding: 0;
}
body
{
  font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top:0;
    z-index: 10;
    font-size: 22px;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1781);
    padding: 2 !important;

}
.navbar-brand
{

    height: 40px;
    padding-left: 40px;
    width: 150%;
    
}
.navbar-nav li
{
    padding: 0 5px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
   

}

/*--------------breadcrumb---------------*/

 #bread-crumb
{
position: static;
top: 0;
z-index: 10;
background-color: #f4f3f3;
font-size: 18px;


} 
 .breadcrumb
 {
    padding: 2 !important;
 }

 .breadcrumb li
{
    padding: 0px 5px;
    
    display: inline;

}
.breadcrumb li a
{
    color: #5f1781 !important;
    font-weight: 600;
    

}

/*------------- Banner kısımı--------*/

 #banner
{
     background-image: linear-gradient(to right, #a517ba,#5f1781);
color: rgba(255, 255, 255, 0.839);
padding-top: 4%;


}
.tanim-titl
{
    
    font-size: 20px;
    font-weight: 20px;
    margin-top: 100px;

}
.p1
{
    font-size: 20px;
}
.bottom-img
{

    width: 100%;
}

#tanitmak
{

    padding: 100px 0;
}

/*-------------- albumlar kisimi--------------------*/

#albumlar
{
    padding: 150px 0;

}
.album-img
{
    width: 300px;
    margin-top: 60px;

}
.albumlar
{
    padding: 20px;
}
.albumlar h4
{
    padding: 5px;
    margin-top:15px;
    text-transform: uppercase;
}
.title
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;  
    margin-right: auto;
    display: block;
    transform: translateY(-50px);
    

}
.img-fluid
{

    width: 400px;
    margin: 80px;

} 
/*------------- Banner Hakkindaki kısımı--------*/
 
#banner-1
{
     background-image: linear-gradient(to right, #a517ba,#5f1781);
color: rgba(255, 255, 255, 0.839);
padding-top: 4%;

}
.tanim-title
{
    font-size: 40px;
    font-weight: 400;
    margin-top: 100px;

}
.paragraf
{
    font-size: 20px;
    
}
.container1
{
    background-image: linear-gradient(to right, #a517ba,#5f1781);
    color: #fff;
    
}
.title1
{
    content: '';
    background: #ffffff;
    height: 1px;
    width: 200px;
    margin-left: auto;  
    margin-right: auto;
    display: block;
    transform: translateY(10px);
    color: #fff;
    font-size: 50px;

}
.contact-area
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.cont-left
{
    width: 40%;
    padding: 3rem ;
}
.cont-right
{
    width: 60%;
    padding: 3rem;
}
.cont-element
{
    margin: 0.5rem0;
    display: flex;
    align-items: center;

}
.cont-right form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-right form input, textarea,button
{
    width: 100%;
    margin: 1rem 0;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid #ffffff;
    color: black;

}

